<div class="main-page">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <h1>Wonderful Cocktails</h1>
      <div>
         <%= link_to "Create a new cocktail", new_cocktail_path, class: "btn btn-ghost" %>
      </div>
  </div>

  <div class="container" id="top-page">
      <div class="cards">
          <% @cocktails.each do |cocktail| %>
            <%= link_to cocktail_path(cocktail) do %>
              <div class="card-category">
                <%= cocktail.name%>
              </div>
            <% end %>
          <% end %>
        </div>
  </div>
</div>

